@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}
body {
  background-color: rgb(255, 255, 255);
}
.main-header {
  background-color: #b7e4c7;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: start;

  height: 50px;
}
h1 {
  padding: 10px;
  font-size: 1.5rem;
  font-family: "Bebas Neue", cursive;
  justify-self: flex-start;
}

.main-container {
  display: flex;
  width: 100%;
  position: relative;
}

.Section-1 {
  width: 100%;
  height: 90vh;
  background-color: #52b788;
}
.Section-2 {
  border-radius: 25px;
  margin-left: 10px;
  position: absolute;
  background-color: #081c15;
  width: 30%;
  height: 85vh;
  align-self: center;
}
/* Search Box */
.searchBox:hover > .searchInput {
  width: 240px;
  padding: 0 6px;
  justify-self: start;
}

.searchBox:hover > .searchButton {
  background: white;
  color: #2f3640;
}

.searchButton {
  color: white;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d8f3dccd;
}
